.search-form {
  .search-input {
    font-size: 20px;
    padding: 3%;
    padding-left: 10%;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
  }
}

@media (max-width: 991.98px) {
  .search-form {
    .search-input {
      font-size: 15px;
      padding-left: 5%;
    }
  }
}
