@import "./mixin/flexbox.scss";

body {
  margin: 0;
  padding: 0;
  background-color: #3a3f47;
}
.App {
  padding: 0.5% 3.5% 0.2% 2%;
  .App-header {
    @include flexbox(row, space-between, center);
    color: rgb(238, 255, 0);
    .logo {
      @include flexbox(row, none, center);
      .logo-image {
        margin-top: 15%;
        font-size: xx-large;
      }
      .logo-title {
        white-space: nowrap;
        margin-left: 10%;
        @include flexbox(column, space-evenly, center);
        .title-name {
          font-size: xxx-large;
          margin-bottom: 0;
        }
        .title-description {
          // letter-spacing: 0.2;
          font-size: large;
          font-weight: lighter;
        }
      }
    }
    .app-name {
      margin-top: 4%;
      font-size: x-large;
    }
  }
  .line {
    display: inline-block;
    background-color: white;
    width: 100%;
    height: 1px;
  }
  .App-main {
    @include flexbox(row, space-between, none);
    margin-top: 1%;
    .search {
      width: 30%;
      margin-top: 2%;
      color: white;
      @include flexbox(column, none, none);
      .search-form + .history {
        margin-top: 10%;
      }
    }
    .response-status {
      margin: auto;
      font-size: x-large;
      color: coral;
    }
  }
}

@media (max-width: 991.98px) {
  .App {
    padding: 0.5% 3.5% 0.2% 2%;
    .App-header {
      .logo {
        .logo-image {
          font-size: x-large;
        }
        .logo-title {
          .title-name {
            font-size: xx-large;
          }
          .title-description {
            font-size: small;
          }
        }
      }
      .app-name {
        font-size: large;
      }
    }
    .line {
    }
    .App-main {
      .search {
      }
      .response-status {
        font-size: x-large;
      }
    }
  }
}
